<div class="review">
<div class="review-rating" data-score="<%= review.rating %>"></div>
<p><%= review.comment %></p>

<% if user_signed_in? %>
  <% if review.user_id == current_user.id %>

  <%= link_to "Edit", edit_podcast_review_path(review.podcast, review)%>
  <%= link_to "Delete", podcast_review_path(review.podcast, review), method: :delete, data: {
    confirm: "Are you sure?" }%>
  <% end %>
<% end %>
</div>
